<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="allfile"
				fileName="logs/nlog-all.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
				archiveFileName="logs/archive/nlog-all-{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveDays="2"
				keepFileOpen="true"
				concurrentWrites="false" />

		<target xsi:type="File" name="ownFile-web"
				fileName="logs/nlog-own.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
				archiveFileName="logs/archive/nlog-own-{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveDays="2"
				keepFileOpen="true"
				concurrentWrites="false" />

		<target xsi:type="File" name="errorFile"
				fileName="logs/nlog-errors.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
				archiveFileName="logs/archive/nlog-errors-{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveDays="2"
				keepFileOpen="true"
				concurrentWrites="false" />

		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="allfile" />

		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" />

		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Debug" writeTo="ownFile-web" />

		<logger name="*" minlevel="Error" writeTo="errorFile" />
	</rules>
</nlog>